button{
  color:black;
  background-color: #0abeda;
  font-family: sans-serif;
  font-size: auto;
  border: rgb(97, 97, 97); 
  font-size: medium
}

button:hover{
  color:antiquewhite;
}

table{
  font-family: fantasy;
  font-size: auto;
  background-image: url('img/R.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
tr{
  font-family: fantasy;
  text-transform: inherit;
  font-weight: 800;
  color:rgb(0, 0, 0) ;
}

form{
  font-family: sans-serif;
  font-weight: 700;
  font-style: unset;
  font-size:initial;
  background-image: url('img/contacts.jpg');
  background-repeat: no-repeat;
  background-size: 20%;
  color: rgb(240, 239, 238);
}
c





















